# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# IDE - VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Documentation
docs/document.md

# macOS system files
.DS_Store
.DS_Store?
._*